.container {
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
	margin: 0 auto;
	@media (max-width:376px){
		--container-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	@media (min-width:377px) and (max-width: 426px){
		--container-width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	@media (min-width:1024px) and (max-width: 1281px){
		--container-width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.container-left {
	/* overflow-x: hidden; */
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@media (max-width: var(--laptop-size)) {
		padding-right: var(--container-padding);
	}
}
